@import url('https://fonts.cdnfonts.com/css/algeria');
*{
    margin:0px;
    padding: 0px;
}
.cart{

}
.cart__image{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 100px;
}
.cart__image img{
    width: 100%;
}
.cart__title{
    position: fixed;
    top:50px;
    left:110px;
    
}
.cart__title--home{
    font-family: 'Algeria', sans-serif;font-size: 25px;
}
.cart__title--cartHome{

}
.cart__content{

}
.cart__content--table{

}
.status{

}
.active{

}
.{

}