#formSign{
    background-image:url(../Image/formSign.png);
    width: 100px;
    height: 700px;
}
.formSign__signIn{
    
}
.formSign__signIn--title{

}
.formSign__signIn--name{

}
.signIn__title--name{

}
.formSign__signIn--pass{

}
.signIn__title--pass{

}
.formSign__signIn--rules{

}
.signIn__title--rules{

}
.formSign__signIn--submit{

}
.formSign__footer{

}