*{
    margin:0;
    padding:0;
}
#formContainer{
    background-color: #ABD1C6;
    width: 100vw;
    height: 100vh; display: flex;justify-content: center;
    align-items: center;
    
}
#formSign{
    background-image:url(../Image/formSign.png);
    width: 461px;
    height: 555px;
    display: flex;
    position: relative;
    border-radius: 30px;
    align-items: center;
    justify-content: center;

}
.formSign__signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-top: 70px;
}
.formSign__signIn--title{
    position: absolute;
    left: 45px;
    top:180px;
    font-weight: 700;
    color: #004643;
    padding-bottom: 5px;
    border-bottom: #004643 2px solid;
}
.formSign__signIn--name{
    margin-left:-50px;
    margin-top:10px;
}
.formSign__signIn--name input{
    width: 130%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border-color: none;
}
.signIn__title--name{
    font-weight: 600;
}
.formSign__signIn--rules{
    display: flex;
}
.signIn__title--rules{
    margin-left:5px;
}
.formSign__signIn--submit{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.formSign__footer{

}