body.premium{
    color: gold;
    background-color: #232121;
}
#header.premium{
    color: gold;
    background-color: rgb(39, 38, 38);
}
.header__nav--menu.premium:hover a{
    color:gold;
}
.header__nav--menu.premium:hover {
    background-color: rgb(84, 87, 89);
}
.header__nav--address.premium:hover{
    color:gold;
    background-color: rgb(84, 87, 89);
}
.header__nav--address.premium::after{
    content: "";
    transition: width 0.5s ease;
    width: 0;
    height: 0;
    background-color: gold;
    position: absolute;
    left: 10%;
    bottom:0;
    z-index:0;
}
.header__nav--address:hover::after{
    width: 80%;
    height: 10%;
}
.fa-user.premium{
    color: black;
    background-color: gold;
}
.fa-user.premium:hover{
    color: gold;
    background-color: black;
}
.header__nav--premium.premium{
    background-color: #004643;
    color: #d3d3d3;
}
.banner__main.premium{
    background-color: #181717;
}
.banner__secondary.premium{
    background-color: #181717;
}
.productList--container.premium{
    background-color: #181717;
}
.productList__title.premium{
    background:linear-gradient( to bottom left, transparent 11% , gold 0%);
    color: black;
}
.product__cost.premium{
    color: #121212;
}
.product__cost--new.premium{
    color: #181717;
}
.product__buy.premium{
    background-color: #181717;
}
.commentTitle.premium{
    background-color: #232121;
}
.comment--container.premium{
    background-color: #181717;
}
.commentBox__header--name.premium{
    color: #121212;
}
.commentBox.premium{
    background-color: #b2b0b0;
}
.commentBox__content.premium{
    color:#121212;
}
.commentBox__rate.premium{
    color: gold;
}