body.premium{
    color: gold;
    background-color: #232121;
}
#header.premium{
    color: gold;
    background-color: rgb(39, 38, 38);
}
.header__nav--menu.premium:hover a{
    color:gold;
}
.header__nav--menu.premium:hover {
    background-color: aliceblue;
}