.bannerSlide{
    /* Chỉnh khi chuyển gốc */ 
    overflow: hidden;
    image-rendering: pixelated;
    width: 600px;
    height: 200px;
}
.bannerSlide__images{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}
.bannerSlide__image{
    /* Chỉnh khi chuyển gốc */
    
}
.bannerSilde__btn{

}
.bannerSlide__btn{

}
.btnSlide--left{

}
.btnSlide--right{

}
.bannerSlide__index{

}
.bannerSlide__index--sub{

}