*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #ABD1C6;
    color: #fffffe;
}
@import url('https://fonts.cdnfonts.com/css/algeria');
ul{
    list-style: none;
}
#header{
    margin: 0 auto;
    width: 1024px;
    background-color: #004643;
    height: 160px;
}
.header--container{
    display: flex;
}
.header--container img{
    border-radius: 100%;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
nav{
    display:flex;
    flex-direction: column;
}
.header__title--logo{
    font-family: 'Algeria', sans-serif;
    align-self: center;
    font-size: 33px;
    text-align: center;
    padding-top: 15px;
    line-height: 1.05;
}
.header__nav{
    display:flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}
.header__nav--up{
    padding-top:10px;
}
.header__nav>li{
    padding:5px;
    text-wrap:nowrap;
}
.header__nav li:nth-child(even){
    padding-left: 12px;
}
.header__nav--find{
    border-radius: 30px;
    flex: 1;
    width: 390px;
    height: 35px;
}
.header__nav--find::placeholder{
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.header__nav--icon{
    font-size:20px;
    cursor:pointer;
}
.header__nav--titleSymbol{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor:pointer;
    font-weight: 700;
}
.fa-user{
    font-size: 40px;
    background-color: #3a7463;
    padding: 2px 7px;
    border-radius: 10%;
}
.header__nav--center{
    display:flex;
}
.header__nav--menu{
    padding: 0 15px;
    padding-top: 10px;
    border-radius: 30px;
    background-color:#D3D3D3;
    width: 80px;
    height: 23px;
    text-align:center;
    margin:10px;
}
.header__nav--menu:nth-child(1){
    margin-left: 40px;
}
.header__nav--menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2f5535;
    display: flex;
    align-items: center;
    justify-content: center;
}
.{

}
.header__nav--down{
    display:flex;
    justify-content: space-between;
}
.header__nav--address{
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    background-color: #D3D3D3;
}
.header__nav--premium{

}