body{
    background-color: #ABD1C6;
    color: #fffffe;
}
#header{
    margin: 0 auto;
    width: 60%;
    background-color: #004643;
    height: 150px;
}
.header--container{
    margin
}
.header__title--logo{
    border-radius: 100%;
}
.header__nav{

}
.header__find{

}
.header__icon{

}
.fa-solid{

}
.fa-user{

}
.header__title--symbol{

}
.fa-bell{

}
.fa-cart-shopping{

}